body {
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 25%;
    font-family: Raleway;
    color: #444451;
    font-size: 2em;
}

#scrollButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: lightcoral;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#scrollButton:hover {
    background-color: #555;
}

.skillContainer{
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 2%;
    margin-bottom: 5%;
    font-size: 0.9em;
    margin-top: 5%;
}

.skillName {
    font-weight: bold;
    font-size: 0.75em;
}

.skillInfo {
    font-style: italic;
    font-size: 0.75em;
}

.footer {
    width: 100%;
    background-color: cornsilk;
}

.navBar {
    text-align: center;
    margin-bottom: 1%;
}

.navBarTitle {
    text-align: center;
    font-size: 0.5em;
    margin-bottom: 1%;
}

.navBarSmall {
    text-align: center;
    margin-bottom: 30%;
}

.navBarSmall a {
    font-family: Raleway;
    color: #444451;
    font-size: 0.5em;
    text-decoration: none;
}

.navBarSmall a:hover {
    color: lightcoral;
}

.navBar a {
    font-family: Raleway;
    color: #444451;
    font-size: 1em;
    text-decoration: none;
}

.navBar a:hover {
    color: lightcoral;
}

.title {
    font-weight: 700;
}

.title a {
    font-weight: 700;
    text-decoration: none;
}

.title a:link {
    color: red;
    color: #444451;
}

.title a {
    font-weight: 700;
    text-decoration: none;
}

.title a:visited {
    font-weight: 700;
    text-decoration: none;
    color: #444451;
}

.title a:active {
    font-weight: 700;
    text-decoration: none;
    color: #444451;
}

.description {
    display: grid;
    max-height: 100vh;
    grid-template-columns: 7fr 3fr;
    gap: 10%;
    margin-bottom: 15%;
    font-size: 0.9em;
    margin-top: 5%;
}

.mainSectionHeader {
    font-weight: bold;
    margin-top: 15%;
}

.mainSection {
    margin-top: 5%;
}

.subSection {
    font-style: normal;
    margin-top: 5%;
    font-size: 0.75em;
}

.subSection img {
    max-width: 90%;
    float: left;
    margin-bottom: 10%;
}

.subSectionHeader {
    font-style: normal;
    margin-top: 10%;
    margin-bottom: 5%;
}

.descriptionTextContainer {
    align-self: center;
}

.descriptionText {
    display: inline-block;
    text-align: left;
    line-height: 120%;
}

.description img {
    width: 100%;
    margin: auto;
    border-radius: 50%;
}

.imageGrid {
    display: grid;
    gap: 1%;
    grid-template-columns: 1fr 1fr;
}

.imageGrid img {
    max-width: 100%;
}

@media screen and (max-width: 767px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 1em;
    }
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Light.ttf);
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-LightItalic.ttf);
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Italic.ttf);
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: BitPotion;
    src: url(../fonts/BitPotion/BitPotionExt.ttf);
    font-style: normal
}